<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="header container">
        <div class="page-header">
            <h1><a href="index.html">Example Page header</a> <small>Subtext for header</small></h1>
        </div>
    </div>
    <div class="comments container">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail">你的大名</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                <label for="exampleInputContent">留言内容</label>
                <input type="text" class="form-control" id="exampleInputContent">
                <input type="button" class="btn btn-success" value="发表">
            </div>
        </form>
    </div>
</body>

</html>